/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-off-black bg-white selection:bg-[#FF5F38] selection:text-white;
  overscroll-behavior: none!important;
}

.a11y-focus {
  @apply outline-none ring-current focus-visible:ring-4;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 90%;
  min-width: 0;
}

@screen lg {
  .embla__slide {
    flex: 0 0 40%;
    min-width: 0;
  }
}

@screen 2xl {
  .embla__slide {
    flex: 0 0 37%;
    min-width: 0;
  }
}

.black-select {
  @apply selection:bg-black selection:text-current !important;
}

html.lenis {
  height: auto;
}


.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
} 